@model IEnumerable<TesteUDS.Dominio.Pessoa>

@{
    ViewBag.Title = "NovoPedido";
}

<h2>NovoPedido</h2>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<form class="form-horizontal">
    <fieldset>
        <legend>Legend</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Nome</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Data de Nascimento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Data de Nascimento">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </fieldset>


    <table class="table table-bordered table-hover ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dataNascimento)
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dataNascimento)
                    </td>
                    <td>
                        @Html.ActionLink("Selecionar", "AdicionarProdutos", new { id = item.id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

