@model IEnumerable<TesteUDS.Dominio.Pessoa>

@{
    ViewBag.Title = "NovoPedido";
}

<h2>NovoPedido</h2>

@using (Html.BeginForm()) {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascimento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dataNascimento)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Selecionar", "NovoProdutoConfirmado", new { id = item.id })
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>
}
