@model TesteUDS.Dominio.Pessoa

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataNascimento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id }) |
    @Html.ActionLink("Voltar", "Pessoa")
</p>
